*{
    box-sizing:border-box;
	margin:0;
	padding:0;
	}
 body{
	 font-family:"Open Sans", sans-serif;
 }
 h1 h2 h3 h4 h5 h6{
	 font-family:"Roboto",sans-serif;
	 color:#444444;
 }
.bg-info{
	background-color:#3fbbc0;
}
.btn-info{
	background-color:#3fbbc0 ;
}
.blue{
	color:#3fbbc0 ;
}
.banner-section{
	background-color:#3fbbc0 ;
}
/*.nav-bar{
	position:fixed;
	top:0px;
	left:0;
	right:0;
	z-index:997;
}
.header-top{
	position:fixed-top;
	z-index:996;
	
}*/
.header-top{
	background-color:#3fbbc0;
}
.nav-items .nav-links{
	font-size:13px;
	font-weight:600;
}
.carousel-item {
	     background-repeat:no-repeat;
	     background-size:cover;
	     background-position:center top;
		 background-attachment:fixed;
		  height:80vh;
}
	
.carousel-caption{
	background:rgba(255, 255, 255,0.9);
	padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 50px;
}
.carousel-caption h2{
	color:black;
	font-weight:700;
}
.carousel-caption p{
       color: #555555;
}
.about-us-image{
	     background-image:url(../image/about.jpg);
	    background-repeat:no-repeat;
	     background-size:cover;
	     background-position:center top;
		 height:420px;
}
.about3-image{
	     background-image:url(../image/features.jpg);
	     background-repeat:no-repeat;
	     background-size:cover;
	     background-position:center top;
		  height:450px;
}
.about-content{
	padding:8px 0px 0px 10px;
}
.main-banner-icon{
	background: rgba(63, 187, 192, 0.8);
    border-radius: 50px;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.5);
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .menu a:hover{
    color:#3fbbc0 !important;	
}
.menu a{
	padding-left:19px;
	font-size:14px;
	font-weight:500;
	text-decoration:none;
}
 .head-title h2::after{
	content: " ";
    position: absolute;
    display: block; 
    width: 50px;
    height: 3px;
    background-color: #3fbbc0;
    margin-top:15px;
	left:50%;
     transform:translateX(-50%);
}
.head-title h2{
	margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
	
}
.btn:hover{
	opacity:0.8;
}
   /*about 1 style*/
   
.abt1-box{
    background: #fff;
    box-shadow: 0 0 29px 0 rgb(68 88 144 / 12%);
    border-radius: 8px;
	padding:30px;
	overflow:hidden;
	position:relative;
	z-index:1;
	
}
.abt1-box:after{
	content:"";
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:0;
	transition:all 0.3s ease;
	background-color:#3fbbc0;
	z-index:-1;
}
.abt1-box i{
	font-size:30px;
	color:#3fbbc0;
}
.abt1-box:hover i{
	color:white;
}
.abt1-box:hover{
	color:white;
}
.abt1-box:hover:after{
	height:100%;
}
.abt1-box h3{
	margin-bottom:20px;
}
.abt1-box p{
	margin-bottom:20px;
	font-size:14px;
	font-weight:400;
	line-height:2;
}
.about-content ul{
	font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}
.about-content p{
	font-size:15px;
	line-height:20px;
	font-weight:400;
}
.abt1-box i{
	margin-bottom:21px;
}
.about-find a{
	font-size:15px;
	font-weight:500;
	text-decoration:none;
	color:#444444;
}
.about-find i{
	font-size:14px;
}
.about-find a:hover{
	color:#3fbbc0;
}
.main-bg-three{
	     background-image:url(../image/slide/slide-3.jpg);
	     /* background-repeat:no-repeat;
	     background-size:cover;
	     background-position:center top;
	     background-attachment:fixed;
		 height:100vh; */
		 
}
.main-bg-one{
	     background-image:url(../image/slide/slide-1.jpg);
	    /*  background-repeat:no-repeat;
	     background-size:cover;
	     background-position:center top;
	     background-attachment:fixed;
		 height:100vh; */
		 
}
.main-bg-two{
	     background-image:url(../image/slide/slide-2.jpg);
	    /*  background-repeat:no-repeat;
	     background-size:cover;
	     background-position:center top;
	     background-attachment:fixed;
		 height:100vh; */
		 
}
.appointment-section{
	background-color:#f7fcfc;
}
 .services-content h3{
	 position:relative;
 }
 .services-content p{
	 line-height: 22px;
    font-size: 13px;
 }
 .services-content i{
	 box-shadow: 0px 0 25px rgb(0 0 0 / 15%);
	 display:inline-flex;
    justify-content: center;
    align-items: center;
     width: 75px;
      height: 75px;
 }
 .services-content h3::after{
	content: " ";
    position: absolute;
    display: block; 
    width: 50px;
    height: 2px;
    background-color: #3fbbc0;
    margin-top:10px;
	left:50%;
	transform:translateX(-50%);
}
.services-content h3:hover{
	color:#3fbbc0;
}
.doctors-section{
	background-color:#f7fcfc;
}
.doc-box{
	margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
    border-radius: 4px;
    background: #fff;
	box-shadow:0px 2px 15px rgb(63 187 192 / 10%);
}
.doc-image{
	position:relative;
	overflow:hidden;
}

.doc-icons{
	display: flex;
    align-items: center;
    justify-content: center;
	position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 40px;
	transition: ease-in-out 0.3s;
    background: rgba(255, 255, 255, 0.85);
    opacity:0;
}
.doc-icons a{
	display:inline-block;
	padding:12px;
	text-decoration:none;
	color:black;
}
.doc-box:hover .doc-icons{
	opacity:1;
	
}
.doc-icons a:hover{
	color:#3fbbc0;
}

.doc-content p{
	font-size:12px;
	font-weight:500;
}
.b-btn:hover{
      color:#3fbbc0 ;
}	  
.test-img img{
    width: 72px;
    border-radius: 50%;
    margin: -30px 0 0 24px;
    position: relative;
    z-index: 2;
    border: 5px solid #fff;
	height:auto;
}
.owl-carousel .owl-item img {
    display: block;
    width: 20%;
}
.owl-dots{
	text-align:center;
}
.owl-carousel button.owl-dot {
	background:#fff;
	border:1px solid #3fbbc0 ;
	width:12px;
	height:12px;
	border-radius:50%;
	margin:6px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color:#3fbbc0; 
}
.owl-carousel .owl-drag .owl-item .center .item img{
	  border:2px solid :#3fbbc0;
}
.test-img-con p{
	font-size:14px;
	font-weight:500;
	line-height:15px;
}
.test-content{
	background-color:#f0fafa;
	border-radius:8px;
}
.test-content i{
	color: #b2e4e6;
    font-size: 15px;
}
.car{
	width:33.3%;
	height:auto;
}
.question-section{
	 background-color:#f7fcfc;
}
.form-control:focus{
	outline:0;
	border:1px solid #3fbbc0;
}
.accordion-button:not(.collapsed) {
    color:0;
    background-color:0 ;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.accordion-button{
	color: #212529;
    text-align: left;
    background-color: #f7fcfc;
	font-size:15px;
	font-weight:400;
}
.accordion-button::after{
	content:0;
 
}
.accordion-button::after {
    flex-shrink: 0;
    width: 0;
    height:0;
    margin-left:0;
    content:0;
}
.accordion-button:hover{
	color: #3fbbc0;
}
.accordion-button::before{
    flex-shrink: 0;
    width:29px;
    height:14px;
    margin:0;
    content: "";
    background-image: url(../image/download.svg);
    background-repeat: no-repeat;
    transition: transform .2s ease-in-out;
}
.accordion-body{
	background-color: #f7fcfc;
	font-size:15px;
}
.accordion-button:focus {
    z-index:;
    border-color: none
    outline: 0;
     box-shadow:none
}
.footer2-section{
         background-color:#eee;
}
.offcanvas-end {
    top:55px;
    right:13px;
    width: 94%;
   border-radius:11px;
}
.offcanvas-body a{
	font-size:21px;
}
.about-content ul{
   padding-left:0px;
}
.abt-icons h4{
       font-size:36px;
       line-height: 24px;
       font-weight: 700;
       color: #555555;
       margin-left:18px;
}	
.abt2-content{
	font-size:14px;
	
}
.about2-con{
    background: #fff;
    box-shadow: 0 0 29px 0 rgb(68 88 144 / 12%);
    transition: all 0.3s ease-in-out;
	padding:30px;
}
.about3-con p{
	font-size: 16px;
   color: #6c757df0;
} 
.about3-content i{
   min-width:35px;
}  
.about3-con h4{
    	font-size:20px;
      font-weight: 700;
}
    /*pricing*/
.card{
	box-shadow:0px 0px 4px rgb(0 0 0 / 12%);
	border:none;
	position:relative;
	overflow:hidden;
	
}
.card-header{
	color:#777777;
	font-size:16px;
	font-weight:600;
}
.line-through{
    color: #ccc;
    text-decoration: line-through;
}
.advanced{
	width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
    background: #3fbbc0;
    color: #fff;
}
 .apt-btn{
	 margin-left:30px;
 }
.month{
	color: #bababa;
    font-size: 16px;
    font-weight: 300;
}
.dots{
	text-align:center;
	padding:20px 30px;
}
.dots .dots-box{
	display:inline-block;
	width:12px;
	height:12px;
	background-color:white;
	border: 2px solid #3fbbc0;
	border-radius:50%;
	margin:5px 5px;
	cursor:pointer;
}
.dots-box .active{
	background-color: #3fbbc0;
}
.dots .dots-box:hover{
	background-color: #3fbbc0;
}
/*.con-icons{
	dis
	font-size:23px;
    color: #3fbbc0;
    border-radius: 50%;
    width:50px;
	height:33px;
	padding:1px;
    border: 2px dotted #c5ebec;
}*/
.con-detail i{
	display:inline-block;
	width:50px;
	height:50px;
	font-size:23px;
	text-align:center;
	line-height:50px;
	color: #3fbbc0;
    border-radius: 50%;
	border: 2px dotted #c5ebec;
}
.con-detail{
	color: #444444;
	box-shadow:0 0 20px rgb(214 215 216 / 50%);
}
.ad-icons a{
	font-size: 18px;
    display: inline-block;
    background: #3fbbc0;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}
.ad-icons a:hover{
	opacity:0.8;
}
.links li{
	padding-bottom:10px;
}
.links a{
	font-size:13px;
	color:#555555;
	cursor:pointer;
}
.links h4{
	font-size:16px;
    line-height: 1;
    font-weight: 600;
	color:#555555;
}
.links a:hover {
	color:#3fbbc0;
}
.services a:hover {
	color:#3fbbc0;
}
.services li{
	padding-bottom:10px;
}
.services a{
	font-size:13px;
	color:#555555;
	cursor:pointer;
}
.services h4{
	font-size: 16px;
    line-height: 1;
    font-weight: 600;
	color:#555555;
}
.address h3{
	font-size:20px;
    line-height: 1;
    font-weight: 700;
	color:#555555;
}
.ad-icons a{
	background-color:#3fbbc0;
}
.bus{
	background-color:#3fbbc0;
}
	
.address p{
	color:#555555;
	font-size: 14px;
    line-height:20px;
}
.networks  p{
	font-size:13px;
	color:#555555;
}
.networks h4{
	font-size:16px;
    line-height: 1;
    font-weight:600;
}
.subscribe-form{
	background: #fff;
    padding: 6px 10px;
    position: relative;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
	margin-top:25px;
}
.subscribe-form input{
	border:none;
}
.subscribe-form button{
	position: absolute;
    top: 0;
    right:0; 
    bottom: 0;
    border:none;
	height:100%;
	min-width:110px;
    font-size:15px;
    padding:5px 10px;
}
.subscribe-form button:hover{
	opacity:0.8;
}
    /*dept*/
.departments-section .nav-tabs{
	border:0;
}
.nav-link {
   text-decoration:none;
   color:black;
	
}

/*.nav-items .nav-link .active{
	border:none;
	background: #f7fcfc;
	border-left: 5px solid  #3fbbc0;
	border-color:0;
	
}*/
.nav-tabs .nav-item{
	flex-grow:1;
	width:100%;
}
.nav-tabs .nav-link{
	display:block;
	margin-bottom:0px;
	border:none;
	background:0;
}
.nav-tabs .nav-link.active {
    color: #495057;
    background:#f7fcfc; 
     border-color:none;
	 border-left: 5px solid  #3fbbc0;
}
.nav-link:hover{
	border-color:none;
	border-left:5px solid #fff;
}
.nav-link:hover p{
	color:#495057;
}
 .nav-link h5 {
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
 }
 .nav-link p {
    font-size: 14px;
 }
 .tab-pane h5{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #3fbbc0;
}
.tab-pane h3 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #3fbbc0;
}
.tab-pane p{
	color: #777777;
	font-size:14px;
	line-height:20px;
	font-weight:400;
}
.nav-item:hover h5{
	color:#3fbbc0;
}
/*.nav-tabs .nav-item:hover .nav-link{
	border:none;
	background: #f7fcfc;
	border-left: 5px solid  #3fbbc0;
	text-decoration:none;
}*/
.banner-content button:hover{
	background-color:white;
	color:#3fbbc0;
}
	

	
	
        /*------------------------DropDown----------*/
.dropdown, .dropdown-sub{
	position:relative;
}
.dropdown-nav, .dropdown-sub-nav{
	position:absolute;
	top:100%;
	left:0;
	background-color:white;
	box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);
	min-width:180px;
	padding:10px 0;
	opacity:0;
	visibility:hidden;
	transform:translateY(30px);
	transition:all 0.3s ease;
	z-index:99;
}
.dropdown-sub-nav{
	left:94%;
	top:0;
	transform:translateX(-20px,0px);
}
.dropdown-nav > a > i,.dropdown-sub-nav{
	margin-left:8px;
}
.dropdown:hover .dropdown-nav, .dropdown-sub:hover .dropdown-sub-nav{
	opacity:1;
	visibility:visible;
	transform:translateY(0);
}
.dropdown-nav > li > a,.dropdown-sub-nav > li > a{
	  display:block;
	  text-decoration:none;
	  color: #626262;
	  font-size:13px;
	  text-align:left;
	  line-height:2;
	  padding:5px 21px;
	  transition:all 0.3s ease;
}
.dropdown-sub > a >i{
	margin-left:10px;
}
.dropdown-nav > li > a> i,.dropdown-sub-nav > li > a> i{
	position:absolute;
	top:37%;
	right:25px;
	transform:translateY(-50);
}
.dropdown-nav > li > a:hover,.dropdown-sub-nav > li > a:hover{
	color:#3fbbc0;
}
.dropdown-sub .dropdown-nav .dropdown:hover{
	opacity:1;
	visibility:visible;
}
	